* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;       
}

header {
    background-color: #0A316C;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 200px; 
    margin-right: 20px; /* Espace de sécurité imposé par la charte */
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 22.5px;
    font-weight: 500;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

header h4 {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
}


footer {
    background-color: #0A316C; /* Academic Blue */
    padding: 2rem; 
    color: #FFFFFF; /* Pure White */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Optional: helps push the footer to the bottom of the page if the body content is short */
    margin-top: auto; 
}

.footer-nav {
    display: flex;
    gap: 1rem;
    
}

.footer-nav a {
    color: #FFFFFF; /* Pure White */
    text-decoration: none;
    padding: 0.5rem;
    font-size: 16px;
    font-family: 'Open Sans', 'Roboto', sans-serif; 
    font-size: 22.5px;
    font-weight: 500;
}

.footer-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-logo {
    width: 200px;
}

main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Typographie simple */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

